.hero__container{
    display:grid;
    height: 100vh;
    grid-template: 80px 1fr 1fr / 80px 1fr;
    grid-template-areas: "decor navbar"
                         "decor greeting"
                         "decor invitation";

}

.hero__item{
    border:2px solid green;
}
.decor{
    grid-area:decor;
}

.navbar{
    grid-area: navbar;
}

.greeting{
    grid-area:greeting;
}

.invitation{
    grid-area:invitation;
}