.hero__container{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template: 80px auto auto / 80px 1fr;
    grid-template-areas: "decor navbar"
                         "decor greeting"
                         "decor invitation";

}


.decor{
    grid-area:decor;
}

.navbar{
    grid-area: navbar;
}

.greeting{
    grid-area:greeting;
}

.invitation{
    grid-area:invitation;
}