.contact__container{
    display:grid;
    height: 100vh;
    grid-template: 100px 1fr / 1fr;
    grid-template-areas: "cTitle"
                         "mainContact";

}



.cTitle{
    grid-area: cTitle;
}

.mainContact{
    grid-area:mainContact;
}

