.contact{
    min-height:90vh;

    .contact__title-container{
        display: flex;
        align-items: center;
        padding-left: 130px;
        height: 300px;;
        overflow: hidden;
            .contact__title{
                font-family: 'Roboto Condensed', sans-serif;
                font-size:2.8em;
                margin-bottom:2em ;
            }
        }

        .contact__mainContact{
            position: relative;
            height: calc(100% - 300px);
            @include flexCenter();
        .contact__icons{
            height: 60%;
            @include flexCenter();
            margin: 1.2em;
            margin-right:80px ;
            .contact__icon{
                margin: 20px;
                font-size: 81px;
                &:hover{
                    opacity: 0.6;
                    .small-icon{
                        font-size: 81px;
                        &:last-child span{
                            font-size: 91px;
                        }
                    }
             }
                }
               
            }

        }
        
        .contact__form{

.Contactform {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100px 90px 1.5fr 0.5fr 0.5fr;
   gap: 0 2rem;
   padding: 2rem;
   color: white;
   margin: 20px;
   background-color: #7f78d29c;
   border-radius: 0.4rem;
   max-width: 650px;
   height: 600px;
   &__title {
       color:white;
      grid-column: 1 / -1;
      align-self: center;
      font-weight: 600;
      letter-spacing: 0.6rem;
      padding-bottom: 0.5rem;
      border-bottom: solid 1px #ffffff;
      width: fit-content;
      height: fit-content;
      margin: 0;
   }
   &__close {
      position: absolute;
      display: block;
      right: 12px;
      top: 12px;
      z-index: 99999;
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
      cursor: pointer;
      padding: 0.8rem;
      color: white;
      &:hover {
         transition: background-color 0.2s;
         background-color: rgba(255, 255, 255, 0.075);
      }
   }
   &__left-field {
      grid-column: 1 / 2;
   }
   &__right-field {
      grid-column: 2 / 3;
   }
   &__text-area {
      grid-column: 1 / -1;
      textarea {
         resize: none;
      }
   }
   &__submit {
      grid-column: 1/ -1;
      // align-self: center;
   }

   .field {
      label {
         letter-spacing: 0.2rem;
         margin-bottom: 0.8rem;
         font-size: 1.4rem;
         color:white
      }
      input[type="text"] {
         box-sizing: initial;
         appearance: none;
         line-height: 0.5rem;
         color: white;
         width: 92%;
         background-color: transparent;
         border: 1px solid #fff;
         font-weight: 300;
         height: 2rem;
         border-radius: 0.4rem;
         outline: 0;
         text-decoration: none;
         margin-top: 0.5rem;

         &:focus {
            transition: ease-in-out 0.1s;
            background-color:rgba(91, 99, 116, 0.56);
            border: 1.5px solid #fff;
         }
      }

      textarea {
         width: 100%;
         background-color: transparent;
         border: 1px solid #fff;
         color: white;
         outline: 0;
         font-weight: 300;
         border-radius: 0.4rem;
         padding: 1rem;
         height: 200px;
         text-decoration: none;
         font-size: 1.7rem;
         margin: 0.5rem 0;
         &:focus {
            transition: ease-in-out 0.1s;
            background-color: rgba(91, 99, 116, 0.56);
            border: 1.5px solid #fff;
         }
      }
   }
   &__submit {
      input {
         letter-spacing: 0.2rem;
         border-radius: 4px;
         border: none;
         font-weight: 700;

         padding: 1.3rem 2.5rem;
         text-decoration: none;
         margin: 4px 2px;
         cursor: pointer;
      }
      &-submit {
         background-color: white;
         color: black;

         &:focus {
            outline: white;
          }
        
      }

      &-reset {
         box-shadow: #fff 0 0 0 1px inset;
         background-color: transparent;
         color: white;
         &:hover {
            transition: background 0.2s;
            background-color: rgba(255, 255, 255, 0.075);
         }

         &:focus {
            outline: white;
          }
      }
   }
   &__icons {
      align-self: end;
      grid-column: 1/ -1;
      align-self: center;
      &-icons {
         height: 4.5rem;
         width: 4.5rem;
         border-radius: 100%;
         border: 1px solid rgba(255, 255, 255, 0.856);
         cursor: pointer;
         padding: 1rem;
         color: white;
         margin-right: 1rem;

         &:hover {
            transition: ease-in-out padding 0.2s;
            background-color: rgba(255, 255, 255, 0.075);
            padding: 0.8rem;
         }
      }
      a {
         text-decoration: none;
      }
   }
}


}}


@media screen and (max-width:975px){
 .contact{
     min-height:calc(100vh - 200px);
     margin-top: 2em;
    .contact__title-container{
    height: fit-content;
    margin: 0;
    }
     .contact__mainContact{
         height: auto;
         flex-direction: column;
     }
 }
    
}

@media screen and (max-width:627px){
    .contact{
        .contact__title-container{
               
            padding: 0 0 0 20px;
          .contact__title{
              margin-bottom: 0.5rem;
          }
        }
    }
    .contact__icons{
         margin: auto;
        .contact__icon {
            max-width: 100%;
            height: auto ; 

            &:hover{
                opacity: 0.6;
            }
        }

}
}


    
@media only screen and (max-width: 520px) {
    .Contactform {
       max-height: 500px;
       width: 85%;
       margin: 0;
       font-size: 0.9em;
       padding: 1.5rem 1.5rem 0.5rem;
       grid-template-rows: 0.5fr 0.8fr 0.8fr 1fr 0.6fr 0.8fr;
       overflow: auto;
       &__title {
          align-self: start;
       }
       &__left-field {
          grid-column: 1/-1;
       }
       &__right-field {
          grid-column: 1/-1;
       }
       &__icons {
          justify-self: center;
          align-self: center;
       }
       &__submit {
          grid-column: 1/-1;
          &-reset {
             display: none;
          }
          &-submit {
             width: 100%;
          }
       }
       .field {
          label {
             font-size: 1.2rem;
          }
          input[type="text"] {
             width: 96%;
             font-size: 1.2rem;
             line-height: 0.3rem;
             padding: 0.5rem;
             margin-top: 0.5rem;
          }
       }
    }
 }
 


    @media screen and (max-width: 470px){
        .contact{
        
                .contact__mainContact{      
                .contact__form{
                    height: 60%;
                    max-width: 380px;   
            }
        }}
        }

 @media screen and (max-width: 414px){
            .contact{

                .contact__title-container{
               
                        padding: 0 0 0 20px;
                      .contact__title{
                          margin-bottom: 0.5rem;
                          font-size: 1.8rem;
                      }
                    }
                    .contact__mainContact{
                        .contact__icons{
                            margin: 1.2em;
                            margin-bottom: 0;
                            .contact__icon{

                                font-size: 50px;
                              
                                a span{
                                    font-size: 1em;
                                }
                            }
                
                        }

                        .contact__form{
                            text-align: center;
                            .Contactform{
                                margin: 0;
                                width: 100%;
                                padding-top: 0.2rem;

                                .field{
                                    label{
                                   font-size: 0.9rem;
                                    }
                                    input{
                                     height: 1rem;
     
                                    } 
                                 .form-control  {
                                     height: 150px;
                                    }
                                 }
                            }
                        }
              }
            }
        }

        @media screen and (max-width: 375px){
            .contact{
            
                    .contact__mainContact{      
                    .contact__form{
                        height: 60%;
                        max-width: 360px;   
                }
            }}
            }