.footer{
    .footer__text{
        font-family: monospace;
        text-align: right;
        padding: 10px;
        padding-right:40px;
        font-size: 1.5em;
        
    }
}

@media screen and (max-width:414px){

    .footer{
        .footer__text{
        
            font-size: 1.2em;
            
        }
    }

}