.header{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
    display: flex;
    justify-content:flex-end ;
    position: fixed;
    height: 5rem;
    z-index: 3;
    background-color: white;
    // box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;

    .header__list{
        @include flexCenter();
        justify-content: flex-end;
        width: 60%;
        height: 5rem;
        padding-right: 2%;
        margin: 0;
        .header__item{
padding-right:80px ;
            font-weight: bold;
            list-style: none;
            font-size: 1.5rem;
            a{
                display: inline-block;
                text-decoration: none;
                
                &:hover{
                    color:  $greetingAndDecoColor;
                }
            }
        }
        
    }
}

@media screen and (max-width:767px){
.header{

    .header__list{
        width: 100%;
    }
}

}

@media screen and (max-width:414px){
    .header{

        .header__list{
            padding: 0;
            justify-content: center;

            .header__item{
                padding: 0px  30px ;
                font-size: 1rem;
            }
        }
    }

}