.header{
    @include flexCenter();
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 8%;
    .header__item{
    width: 100px;
    font-weight: bold;
list-style: none;
        a{
            display: inline-block;
            text-decoration: none;

               }
    }
  
}