.projects{
    margin-top: 120px;
    height: auto;

    .project__titleContainer{
        width: 100%;
        height: 120px;
    @include flexCenter();
    .project__mainTitle{
        font-size: 2.4em;
    }}

    .project__boxContainer{
        @include flexCenter();
            margin: 3rem;
        .project__box{
            @include flexCenter();
            max-width: 700px;;
            min-height: 250px;
            background: #FFFFFF;
            box-shadow: 0px 3px 4px 1px  rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px);
            border-radius: 7px;
            overflow: hidden;
            transition: transform .2s;
      &:hover{
        transform: scale(1.02); 
      }
            
        .project__info{
            width: calc(100% - 260px);
            height: 100%;
            padding: 20px 30px 25px 25px;
            display: inline-block;
            margin:0;
            .project__title{
                font-family: 'Roboto Condensed', sans-serif;

                margin-bottom:5px;
                display: inline-block;
                font-size: 1.2em;
                font-weight: bold;
                color: $projectsTitleColors;
            }

            .project__description{
                font-size: 1em;
                margin:15px 0px 20px 0px;
            }

            .project__button{
             width: 140px;
             height: 36px;
             background: #5EEAE2;
             color:white;
             font-weight: bold;
             border: none;
             margin-top: 5px;
             cursor: pointer;
             &:focus {
                outline: none;
                box-shadow: none;
              }

              &:hover{
                  background-color:  #2bb9b1;
              }
            }
        } 

    }
         
    }}


 


@media screen and (max-width:726px){

.projects{
    margin-top: 0;

    
    .project4{
        margin: 70px 30px;
    }
    .project__boxContainer{

        .project__box{

            .project__img-container{
                margin: 20px;
            }
            .project__info{
                padding: 20px 5px 20px 5px;
            }
        }
    }
}

}

@media screen and (max-width:535px){
    .projects{

        .project__titleContainer{
           
        .project__mainTitle{
            font-size: 1.7em;
        }}
        margin-top: 0;
        .project__boxContainer{
            .project__box{
                padding: 1.5rem;
                position: relative;
                .project__info{
                    width: 100%;
                }
                .project__img-container{
                    margin: 20px;
                    position: absolute;
                width: 100%;
                text-align: right;
                padding: 50px;

                img{
                    opacity: 0.1;
                }
                }
                .project__info{
                    padding: 20px 5px 20px 5px;
                }
            }
            
        }
    }
    
    .project__illustration{
    max-width: 150px;
    height: auto;
}
    
}